.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #0C359E;
}

.linkContainer {
    display: flex;
    gap: 2rem;
}

.linkContainer a {
    text-decoration: none;
    color: #fff;
}

.linkContainer a:hover {
    color: #4793AF;
    transform: scale(1.1);
}

.contactInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.contactInfo span, .linkContainer a {
    display: flex;
    align-items: center;
    gap: 0.35rem;
}

.resume {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    /* outline: 1px solid red; */
}

.mainSkills {
    display: flex;
    flex-direction: column;
}

.mainSkills ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 1rem;
    margin: auto auto auto 2rem;
}

.edu ul {
    margin: auto auto auto 2rem;
}

@media(min-width: 768px) {
    .contactInfo {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .resume {
        flex-direction: row;
        justify-content: space-between;
    }

    .mainSkills {
        flex-direction: row;
        gap: 3rem;
    }

    .mainSkills ul {
        margin: 0rem;
    }

    .strength p {
        width: 500px;
    }

    .summary p, .projects {
        width: 400px;
    }
}