.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #0C359E;
}

.linkContainer {
    display: flex;
    gap: 2rem;
}

.linkContainer a {
    text-decoration: none;
    color: #fff;
}

.linkContainer a:hover {
    color: #4793AF;
    transform: scale(1.1);
}

.contactInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.contactInfo span, .linkContainer a {
    display: flex;
    align-items: center;
    gap: 0.35rem;
}

.resume {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    letter-spacing: 1px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.projects a {
    text-decoration: none;
    color: #028391;
}

.skills, .experience, .training, .projects, .education, .strength, .summary {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 2rem;
}

.experience, .training, .projects, .education, .strength, .summary {
    line-height: 1.5;
}

.skills h3 {
    margin-bottom: 1rem;
}

.training h3 {
    margin-bottom: 0.3rem;
}

.mainSkills {
    display: flex;
    flex-direction: column;
}

.spanContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.spanContainer span, .nextjs {
    display: flex;
    align-items: center;
    gap: 0.35rem;
    margin: auto;
}
    

@media(min-width: 768px) {
    .contactInfo {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .resume {
        text-align: left;
    }

    .exp {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .mainSkills {
        flex-direction: row;
        gap: 2rem;
    }

    .skills h3 {
        margin-bottom: 0rem;
    }

    .spanContainer {
        display: flex;
        gap: 2rem;
    }

    .spanContainer > span {
        display: flex;
        align-items: center;
    }

    .nextjs {
        margin: 0rem;
    }
}