/* background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 102.28%); */

.aboutSection {
   display: flex;
   flex-direction: column;
   gap: 3rem;
}

.aboutTitle h1 {
   font-size: 2rem;
   padding-top: 4rem;
   text-align: center;
}

.aboutSection p, .icon {
   font-size: 1.2em;
   line-height: 1.5;
}

.aboutSkills {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

.aboutSkill {
   display: flex;
   align-items: center;
   gap: 0.5rem;
   margin: auto;
}

.aboutPara {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   align-items: center;
   text-align: center;
}

.aboutLeft {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.aboutLeft img {
   width: 50%;
   border-radius: 5px;
}

@media(min-width: 768px) {
   .aboutSection {
      flex-direction: row;
      gap: 100px;
   }

   .aboutSkills {
      grid-template-columns: repeat(4, 1fr);
   }

   .aboutTitle h1 {
      padding-top: 100px;
   }

   .aboutSection p, .icon {
      font-size: 25px;
   }
   
   .aboutPara {
      text-align: left;
   }

   .aboutLeft img {
      width: 100%;
   }

}