.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #074173;
   position: fixed;
   top: 0;
   width: 100%;
   padding-top: 1rem;
   padding-bottom: 1rem;
   z-index: 10;
}

.navbar h1 {
   font-size: 1.8rem;
   margin-left: 1rem;
}

.navList {
   position: fixed;
   top: 0;
   background: #424769;
   text-align: center;
   z-index: 2;
   transition: right 0.5s;
   width: 100%;
   right: 550px;
}

.lists {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 3rem;
   height: 100vh;
}

.lists li {
   display: flex;
   flex-direction: column;
   font-size: 1.2em;
   cursor: pointer;
   transition: 0.3s;
}

.lists li:hover {
   transform: scale(1.10);
}

.lists a {
   text-decoration: none;
   color: #fff;
}

.minusSign {
   margin: auto;
   color: #B923E1;
}

.openMobileNav, .closeMobileNav {
   font-size: 1.5rem;
   margin-right: 1rem;
   margin-top: 0.5rem;
}

.closeMobileNav {
   display: block;
   position: relative;
   top: 1.4rem;
   float: right;
}


@media(min-width: 768px) {
   .navbar h1 {
      font-size: 35px;
      margin-left: 70px;
   }

   .navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
   }

   .navList {
      position: static;
      background: inherit;
      right: 0px;
   }

   .lists {
      flex-direction: row;
      gap: 35px;
      height: inherit;
   }

   .lists li {
      font-size: 30px;
   } 

   .openMobileNav, .closeMobileNav {
      display: none;
   }
}