.navbar {
   display: flex;
   /* flex-direction: column; */
   align-items: center;
   justify-content: space-between;
   margin: 1rem 2rem;
}

.navList {
   position: fixed;
   flex-direction: column;
   align-items: start;
   top: 0;
   background-color: #DA7C25;
   text-align: center;
   z-index: 2;
   transition: right 0.5s;
   right: -350px;
}

.navList li {
   display: flex;
   flex-direction: column;
   padding: 4rem 7rem;
   cursor: pointer;
}

.navList a {
   text-decoration: none;
   color: #fff;
}

.minusSign {
   margin: auto;
   color: #B923E1;
}

.openMobileNav {
   display: block;
   position: fixed;
   right: 2rem;
}

.closeMobileNav {
   display: block;
   position: relative;
   top: 3rem;
   left: 3rem;
}

@media(min-width: 768px) {
   .openMobileNav, .closeMobileNav {
      display: none;
   }

   .navbar {
      flex-direction: row;
      margin: 20px 170px;
   }

   .navList {
      position: relative;
      flex-direction: row;
      background-color: inherit;
      right: 0px;
      transition: none;
   }

   .navList {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 60px;
      font-size: 20px;
   }

   .navList li {
      padding: 0px;
      height: inherit;
   } 

   .navConnect {
      padding: 20px;
      border-radius: 50px;
      background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
      font-size: 18px;
      cursor: pointer;
      transition: 0.5s;
   }

   .navConnect:hover {
      transform: scale(1.05);
   }
}