.footer {
   display: flex;
   justify-content: space-between;
   border-top: 2px solid #074173;
   border-bottom: none;
   padding: 2rem;
}

.footerLeft {
   flex-basis: 45%;
}

.footerRight {
   display: flex;
   gap: 1rem;
}

.footerRight a {
   text-decoration: none;
   color: #fff;
}

.footerRight a:hover {
   color: #378CE7;
}

@media(min-width: 768px) {
  .footer {
      flex-direction: row;
  } 

}