.footer {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-bottom: 3rem;
   background: #074173;
}

.footerLeft {
   flex-basis: 45%;
}

.footerRight {
   display: flex;
   gap: 2rem;
}

.footerRight a {
   text-decoration: none;
   color: #fff;
}

@media(min-width: 768px) {
  .footer {
      flex-direction: row;
  } 

}